body {
    /* Estilos para el elemento body del documento */
    display: flex;
    /* Se establece el tipo de display a flex para permitir un diseño flexible */
    flex-direction: column;
    /*los elementos hijos se apilan verticalmente */
    justify-content: center;
    /* Centra los elementos hijos horizontalmente */
    align-items: center;
    /* Centra los elementos hijos verticalmente */
    height: 200vh;
    /* Altura del body es el 200% de la altura de la ventana del navegador */
    background-color: #f0f0f0;
    /* Color de fondo del body */
    font-family: Arial, sans-serif;
    /* Tipo de letra del body */
    overflow: auto;
    /* Permite el desplazamiento si el contenido excede la altura del body */
}

.bgvideo {
    /* Estilos para el elemento con la clase bgvideo */
    position: fixed;
    /* Posición fija, no se mueve al hacer scroll */
    right: 0;
    /* Alineado a la derecha */
    bottom: 0;
    /* Alineado al fondo */
    min-width: 100%;
    /* Ancho mínimo del 100% */
    min-height: 100%;
    /* Altura mínima del 100% */
    z-index: -20;
    /*determina el orden de apilamiento de los elementos en el eje Z
    (hacia adelante y hacia atrás en la pantalla)*/
}

.content {
    /* Estilos para el elemento con la clase content */
    position: relative;
    display: flex;
    /* Posición relativa al elemento padre */
    background: rgba(0, 0, 0, 0.5);
    /* Color de fondo negro con opacidad del 50% */
    width: 98%;
    /* Ancho del 98% */
    padding: 20px;
    /* Relleno de 20px en todos los lados */
    height: 200vh;
    /* Altura del contenedor es el 200% de la altura de la ventana del navegador */
    display: flex;
    /* Se establece el tipo de display a flex para permitir un diseño flexible */
    justify-content: center;
    /* Centra el contenido horizontalmente */
    align-items: center;
    /* Centra el contenido verticalmente */
}

.content2 {
    /* Estilos para el elemento con la clase content2 */
    position: relative;
    /* Posición relativa al elemento padre */
    background: rgba(0, 0, 0, 0.5);
    /* Color de fondo negro con opacidad del 50% */
    width: 98%;
    /* Ancho del 98% */
    padding: 20px;
    /* Relleno de 20px en todos los lados */
    height: 200vh;
    /* Altura del contenedor es el 200% de la altura de la ventana del navegador */
    display: flex;
    /* Se establece el tipo de display a flex para permitir un diseño flexible */
    justify-content: center;
    /* Centra el contenido horizontalmente */
    align-items: center;
    /* Centra el contenido verticalmente */
}

h2 {
    /* Estilos para el elemento h2 */
    text-align: center;
    /* Centra el texto */
    margin-bottom: 20px;
    /* Margen inferior de 20px */
}

#formularioestudiante {
    background-image: url('Media/IMGBG.png');
    background-size: cover;
    /* Imagen de fondo */
    padding: 70px;
    /* Relleno de 70px en todos los lados */
    border-radius: 10px;
    /* Borde redondeado con un radio de 10px */
    box-shadow: 10px 12px 10px 0px rgba(0, 0, 0, 0.1);
    /* Sombra alrededor del formulario */
    width: 1000px;
    /* Ancho del formulario es 1000px */
    height: fit-content;
    z-index: 10;
}

#sintesisdevideo {
    background-color: rgb(233, 233, 233);
    /* Color de fondo blanco */
    padding: 70px;
    /* Relleno de 70px en todos los lados */
    border-radius: 10px;
    /* Borde redondeado con un radio de 10px */
    box-shadow: 10px 12px 10px 0px rgba(0, 0, 0, 0.1);
    /* Sombra alrededor del formulario */
    width: 1000px;
    /* Ancho del formulario es 1000px */
    height: fit-content;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
    /* Estilos para los elementos input de tipo number, text, email y password */
    width: 100%;
    /* Ancho del 100% */
    padding: 10px;
    /* Relleno de 10px en todos los lados */
    margin: 10px 0;
    /* Margen superior e inferior de 10px, y lateral de 0 */
    border-radius: 5px;
    /* Borde redondeado con un radio de 5px */
    border: 1px solid #ccc;
    /* Borde de 1px de ancho, sólido y de color #ccc */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    position: relative;
    /* Establece la posición relativa para el elemento con la clase "button" */
    width: 120px;
    /* Establece el ancho del elemento */
    height: 40px;
    /* Establece la altura del elemento */
    background-color: #5e5c5c;
    /* Establece el color de fondo del elemento */
    display: flex;
    /* Establece el tipo de display a flex para permitir un diseño flexible */
    align-items: center;
    /* Centra los elementos hijos verticalmente */
    color: white;
    /* Establece el color del texto del elemento */
    flex-direction: column;
    /* Establece la dirección de los elementos hijos a columna */
    justify-content: center;
    /* Centra los elementos hijos horizontalmente */
    border: none;
    /* Elimina el borde del elemento */
    padding: 12px;
    /* Establece el espacio interno del elemento */
    gap: 12px;
    /* Establece el espacio entre los elementos hijos */
    border-radius: 8px;
    /* Establece el radio de borde del elemento */
    cursor: pointer;
    /* Cambia el cursor al pasar por encima del elemento */
}

.button::before {
    content: '';
    /* Agrega contenido antes del elemento */
    position: absolute;
    /* Establece la posición absoluta para el pseudo-elemento */
    inset: 0;
    /* Establece los valores superior, derecho, inferior e izquierdo a 0 */
    left: -4px;
    /* Desplaza el pseudo-elemento hacia la izquierda */
    top: -1px;
    /* Desplaza el pseudo-elemento hacia arriba */
    margin: auto;
    /* Centra el pseudo-elemento horizontalmente */
    width: 128px;
    /* Establece el ancho del pseudo-elemento */
    height: 48px;
    /* Establece la altura del pseudo-elemento */
    border-radius: 10px;
    /* Establece el radio de borde del pseudo-elemento */
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    /* Establece un fondo degradado para el pseudo-elemento */
    z-index: -10;
    /* Establece la posición en el eje Z del pseudo-elemento */
    pointer-events: none;
    /* Evita que el pseudo-elemento reciba eventos de puntero */
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* Establece una transición para todas las propiedades durante 0.6 segundos */
}

.button::after {
    content: "";
    /* Agrega contenido después del elemento */
    z-index: -1;
    /* Establece la posición en el eje Z del pseudo-elemento */
    position: absolute;
    /* Establece la posición absoluta para el pseudo-elemento */
    inset: 0;
    /* Establece los valores superior, derecho, inferior e izquierdo a 0 */
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
    /* Establece un fondo degradado para el pseudo-elemento */
    transform: translate3d(0, 0, 0) scale(0.95);
    /* Aplica una transformación al pseudo-elemento */
    filter: blur(20px);
    /* Aplica un efecto de desenfoque al pseudo-elemento */
}

.button:hover::after {
    /* Estilos cuando el cursor se encuentra sobre el elemento */
    filter: blur(30px);
    /* Aumenta el efecto de desenfoque */
}

.button:hover::before {
    /* Estilos cuando el cursor se encuentra sobre el elemento */
    transform: rotate(-180deg);
    /* Rota el pseudo-elemento */
}

.button:active::before {
    /* Estilos cuando el elemento está activo (presionado) */
    scale: 0.7;
    /* Reduce la escala del pseudo-elemento */
}